







  
.list-single-hero {
	padding:250px 0 0;
	overflow:hidden;
}
.list-single-hero-title {
	z-index:2;
	padding:40px 0 30px;
}
.list-single-hero-title  , .map-card-rainting , .geodir-category-opt , .listing-item-cat , .ajax-modal-title  {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(6,27,65,0)), color-stop(100%,rgba(6,27,65,0.95)));
    background: -webkit-linear-gradient(top, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
    background: -o-linear-gradient(top, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
    background: -ms-linear-gradient(top, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
    background: linear-gradient(to bottom, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
}
.list-single-hero-title h2 {
	text-align:left;
	float:left;
	width:100%;
	z-index:2;
	color:#fff;
	font-size:44px;
    font-weight: 600;
	position:relative;
	font-family: 'Quicksand', sans-serif;
}
.list-single-hero-title h2:before {
	content:'';
	position:absolute;
	left:0;
	bottom:-20px;
	width:40px;
	height:4px;
	border-radius:4px;
}
.listing-rating-wrap{
	float:left;
	margin-bottom:10px;
}
.list-single-hero-title .listing-rating i {
    font-size: 15px;
    margin-right: 4px;
}
.listing-rating-wrap .listing-rating , .listing-rating-wrap span {
	float:left;
}
.listing-rating-wrap span {
	color:#fff;
	padding-right:20px;
	font-size:13px;
	font-weight:600
}
.list-single-header-contacts {
	margin-top:40px;
}
.list-single-header-contacts li{
	float:left;
	margin-right:18px;
}
.list-single-header-contacts li a {
	color:#fff;
	font-size:12px;
}
.list-single-header-contacts li  i {
	padding-right:10px;
}
.list-single-hero-details {
	margin-top:6px;
}
.list-single-hero-rating {
	float:right;
	position:relative;
	z-index:1;
}
.list-single-hero-rating .rate-class-name {
	float:right;
	cursor:pointer;
}
.list-single-hero-rating .rate-class-name span {
	background: #ffb701;
    color: #fff;
    float: left;
    font-weight: 600;
    border-radius: 7px 7px 7px 0;
    padding: 22px;
	font-size:24px;
	border: 1px solid rgba(0,0,0,0.21);
	text-shadow: 0px 2px 5px  rgba(0,0,0,0.21);
}
.list-single-hero-rating .score {
	float:left;
	color:#fff;
	text-align:right;
	padding-right:15px;
	margin-top:20px;
}
.list-single-hero-rating .score strong {
	width:100%;
	float:left;
	padding-bottom:4px;
}
.list-single-hero-rating-list {
	position:absolute;
	bottom:100%;
	margin-bottom:20px;
	right:0;
	z-index:10;
	background:rgba(6,27,65,0.45);
	padding:15px;
	overflow:hidden;
	border-radius:4px;
	transition: all .2s ease-in-out;
	visibility:hidden;
	opacity:0;
}
.list-single-hero-rating:hover .list-single-hero-rating-list {
	visibility: visible;
	opacity:1;
	margin-bottom:10px;
}
.list-single-hero-rating-list .rate-item {
	margin-bottom:10px;
}

.flat-hero-container {
	background:#fff;
	padding: 25px 30px 30px;
	border-radius:4px;
}
.flat-hero-container  .listing-rating-wrap{
	margin:0;
	top:11px;
	position:relative;
}
.flat-hero-container .box-widget-item-header {
	margin-bottom:10px;
	padding-bottom:30px;
}
.flat-hero-container .box-widget-item-header h3 {
	font-size:18px;
} 
.flat-hero-container .list-single-hero-price  , .list-single-hero-header .list-single-hero-price{
	color:#666;
	font-size:14px;
	margin-top:0;
	margin-bottom:15px;
	border-bottom:1px solid #eee;
	padding:5px 0 20px;
	text-align:left;
}
.list-single-hero-header .list-single-hero-price {
	padding:25px 30px;
	margin-bottom:0;
	border:none;
    background: #ECF6F8;
 	color: #999;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 11px;
}
.list-single-hero-header .list-single-hero-price span {
	padding-left:50px;
}
.flat-hero-container .list-single-hero-price:before , .list-single-hero-header  .list-single-hero-price:before{
    font-family: Font Awesome\ 5 Pro;
    content: "\f4c0";
    position: absolute;
    color: #ccc;
    top: 1px;
    font-size: 35px;
    right: 0px;
    opacity: 0.4;
    font-weight: 500;
}
.list-single-hero-header  .list-single-hero-price:before {
    top: 1px;
    font-size: 55px;
}
.list-single-hero-header .geodir-category-location{
	margin-top:15px;
}
.flat-hero-container .review-score-detail  {
	width:100%;
	padding:0;
}
.flat-hero-container .rate-class-name-wrap {
	margin-bottom:20px;
	border-bottom:1px solid #eee;
	padding:0px 0 20px;	
}
.flat-hero-container .rate-class-name-wrap a {
	float:right;
	width:40%;
	padding:14px 0;
	border-radius:4px;
	font-size:11px;
	position:relative;
	top:18px;
 	color: #fff;
	font-weight:400;
}
.flat-hero-container .rate-class-name-wrap a i {
	padding-left:10px;
}
.flat-hero-container .rate-class-name {
	float:left;
	width:60%;
}
.flat-hero-container .rate-class-name span  {
	background: #ffb701;
    color: #fff;
    float: left;
    font-weight: 600;
    border-radius: 7px 7px 7px 0;
    padding: 22px;
    font-size: 24px;
    border: 1px solid rgba(0,0,0,0.21);
    text-shadow: 0px 2px 5px rgba(0,0,0,0.21);
	margin-right:10px;
}
.flat-hero-container .rate-class-name .score {
	text-align:left;
	padding-left:18px;
	color:#666;
	font-size:12px;
 
}
.flat-hero-container .rate-class-name .score strong{
	display:block;
	padding:18px 0 6px 0;
}
.flat-hero-container .reviews-score-wrap{
	padding: 0 0 15px;
	margin-bottom:10px;
}
.review-score-detail-list .rate-item {
	margin-bottom:11px;
}
.rate-item-title {
	margin-bottom:6px;
	text-align:left;
	color:#fff;
	font-size:12px;
}
.review-score-detail-list .rate-item-title , .review-score-detail-list .rate-item-percent {
	color:#666;
}
.rate-item-bg {
	height:6px;
	background:#fff;
	border-radius:8px;
	float:left;
	width:calc(100% - 30px);
	overflow:hidden;
}
.review-score-detail-list .rate-item-bg {
	background:#eee;
	height:10px;
}
.rate-item-line {
	float:left;
	height:6px;
	border-radius:4px;
}
.review-score-detail-list .rate-item-line{
	height:10px;
}
.rate-item-percent {
	position:absolute;
	top:14px;
	right:0;
	color:#fff;
}
.list-single-hero-links {
	float:right;
	position:relative;
	top:20px;
}
.lisd-link {
	float:left;
	margin-left:10px;
	padding:10px 20px;
	border:1px dashed rgba(255,255,255, 0.21);
	background:rgba(255,255,255, 0.11);
	color:#fff;
	border-radius:4px;
	cursor:pointer;
	font-size:12px;
}
.lisd-link i {
	padding-right:10px;
}
.lisd-link:hover {
	border-color:transparent;
}
.list-single-main-container {
	padding-left:60px;
}
.list-single-main-item {
	padding:30px 30px;
	background:#fff;
	margin-bottom:20px;
	border-radius:4px;
	border:1px solid #f2f2f2;
}
article .list-single-main-item  , article.post-article .list-single-main-item:last-child{
	margin-bottom:0;
}
article.post-article .list-single-main-item {
	margin-bottom:20px;
}
.list-single-main-item-title  h3{
	color: #183c7d;
	text-align: left;
    font-size: 18px;
    font-weight: 600;
}
.list-single-main-item-title  h3 a{
	color: #334e6f;
}
.list-single-main-item-title {
	margin:0 0 25px 0;
	padding-bottom:25px;
	border-bottom:1px solid #eee;
}
.list-single-hero-header .list-single-main-item-title {
	border-bottom:0;
	margin-bottom:0;
	padding-bottom:0;
}
.list-single-main-item-title .listing-rating {
	float:left;
	margin-top:10px;
}
.list-single-hero-header .list-single-main-item-title  h3 {
	font-size:24px;
}
.list-single-main-item-title:before {
    font-family: Font Awesome\ 5 Pro;
    content: "\f0d7";
    position: absolute;
    right: 0;
    top: 2px;
    color: #ADC7DD;
}
.list-single-hero-header .list-single-main-item-title:before {
	display:none;
}
.list-single-main-item-title.no-dec-title {
	border:none;
	margin-bottom:0;
	padding-bottom:15px;
}
.list-single-main-item-title.no-dec-title:before {
	display:none;
}
.list-single-main-item p {
	text-align:left;
	color:#878C9F;
}
.listing-features li{
	float:left;
	width:33.3%;
	text-align:left;
	margin-bottom:15px;
	font-size:13px;
	color: #888DA0;
    font-weight: 600;
	position:relative;
	padding-left:30px;
}
.listing-features li i {
	position:absolute;
	left:0;
	top:0;
}
.tags-stylwrap  a{
	float:left;
	padding:10px 25px;
	border-radius:2px;
	color: #888DA0;
    font-size: 12px;
    background: #ECF6F8;
	font-weight:500;
	margin-right:6px;
}
.tags-stylwrap.sb-tags a {
	color:#fff;
	margin-bottom:6px;
}
.box-widget-item {
	margin-bottom:30px;
}
.box-widget-item-header {
	padding: 0 0 20px;
    margin: 0 0 25px;
	float:left;
	width:100%;
    border-bottom: 1px solid #eee;
	position:relative;
}
.box-widget-item-header:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f0d7";
	position:absolute;
	right:0;
	top:2px;
    color: #ADC7DD;
}
.box-widget-item-header h3 {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
	color: #183c7d;
}
.box-widget-item-header h3 i {
	padding-right:12px;
	font-size:16px;
	color:#999;
}
.box-widget {
	background:#fff;
	border-radius:4px;
 	border:1px solid #eee;
	float:left;
	width:100%;
}
.no-bor-rad {
	border-radius:0;
}
.box-widget-content {
	float:left;
	width:100%;
	position:relative;
	padding:25px 30px 30px;
}
.box-widget-content.no-pad-bottom {
	padding-bottom:0;
}
#weather-widget {
	float:left; 
	width: 100%;
	border-radius:4px;
	overflow:hidden;
}
.box-widget-list {
	display:block;
}
.box-widget-list  i {
	padding-right:10px;
}
.box-widget-list  li {
	border-bottom:1px solid #eee;
	padding-bottom:15px;
	margin-bottom:15px;
	color:#666;
	float:left;
	position:relative;
	width:100%;
	text-align:left;
	font-size:12px;
}
.box-widget-list  li span {
    min-width: 80px;
	float:left;
}
.box-widget-list  li a {
	margin-left: 20px;
    color: #878C9F;
}
.list-widget-social {
	float:left;
	margin-top:10px;
}
.list-widget-social li{
	float:left;
	margin-right:10px;
}
.list-widget-social li a {
	float:left;
	width:36px;
	height:36px;
	line-height:36px;
	border-radius:4px;
	color:#fff;
	font-size:12px;
	font-weight:300;
}
.banner-wdget {
	overflow:hidden;
	border-radius:6px;
}
.banner-wdget .overlay {
	opacity:0.3;
}
.banner-wdget-content {
	padding:90px 30px 70px;
	z-index:10;
}
.banner-wdget-content h4 {
	font-weight:500;
	color:#fff;
	font-size:18px;
}
.banner-wdget-content h4 span{
	color:#5ECFB1;
	font-weight:400;
}
.banner-wdget-content a {
	font-weight: 600;
	color:#fff;
	padding:12px 30px;
	display:inline-table;
	margin-top:15px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
}
.banner-wdget-content a:hover{
    background: #24324F;
}
.banner-wdget-content .countdown-item {
	width:25%;
	float:left;
	color:#fff;
}
.banner-wdget-content .countdown-item p {
	font-size:10px;
	color:#fff;
}
.banner-wdget-content .countdown-item span {
	font-size:24px;
	font-weight:700;
	font-style:italic;
}
.banner-wdget-content .countdown {
	margin-top:15px;
}
.list-single-main-media {
	overflow:hidden;
	margin-bottom:20px;
}
.box-widget-author-title {
	border-bottom:1px  solid #eee;
	margin-bottom:10px;
	padding:0 0 40px 80px;
}
.box-widget-author-content {
	padding:10px 0 0;
	margin-bottom:10px;
	border-bottom:1px  solid #eee;
}
.box-widget-author-content p {
	text-align:left;
}
.box-widget-author:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f4fc";
	position:absolute;
	color:#ccc;
	top:10px;
	font-size:35px;
	right:0px;
	opacity:0.4;
	font-weight:500;
}




/*-------------Forms---------------------------------------*/
.custom-form {
	float:left;
	width:100%;
	position:relative;
}
.custom-form .nice-select {
	margin-bottom:20px;
}
.custom-form  textarea , .custom-form input[type="text"] , .custom-form  input[type=email] , .custom-form  input[type=password] , .custom-form  input[type=button]{
    float: left;
    border: 1px solid #eee;
    background:#F7F9FB;
    width: 100%;
    padding: 14px 20px 14px 45px;
    border-radius: 6px;
	color: #666;
	font-size:13px;
	-webkit-appearance: none;
}
.custom-form  textarea:focus , .custom-form input[type="text"]:focus  , .custom-form  input[type=email]:focus  , .custom-form  input[type=password]:focus  {
	background:#fff;
}
.custom-form .nice-select input {
	padding-left:20px;
}
.custom-form  input::-webkit-input-placeholder  , .custom-form  textarea::-webkit-input-placeholder{
	color: #666;
	font-weight:500;
	font-size:13px;
}
.custom-form  input:-moz-placeholder , .custom-form  textarea:-moz-placeholder  {
	color: #888DA0;
	font-weight:600;
	font-size:13px
}
.custom-form  textarea{
	height: 200px;
    resize: none;
    padding: 25px 20px;
	-webkit-appearance: none;
}
.custom-form  input  {
	margin-bottom:20px;
}
.filter-tags input , .custom-form  .filter-tags input {
	float:left;
	position:relative;
	border: 2px solid #ccc;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    position: relative;
	color:#fff;
	background:#fff !important;
	-webkit-appearance: none;
}
.filter-tags input:checked:after , .custom-form  .filter-tags input:checked:after  {
	font-family: Font Awesome\ 5 Pro;
	content: "\f00c";
	font-size: 12px;
	position: absolute;
	top:2px;
	left: 2px;
	z-index:20;
}
.filter-tags label , .custom-form  .filter-tags label  {
	float:left;
	padding:0 10px;
	position:relative;
	top:4px;
	color:#888DA0;
	font-weight:600;
	width:auto;
}
.custom-form label {
	float:left;
	position:relative;
	width:100%;
	text-align:left;
	font-weight:500;
	color:#666;
    color: #878C9F;
    font-size: 13px;
    font-weight: 500;
 
}
.main-register .custom-form label {
	padding-bottom:12px;
}
.custom-form label i {
	padding-right:12px;
	font-size:14px;
	position:absolute;
	top:16px;
	left:16px;
}
.custom-form button {
	outline:none;
	border:none;
	cursor:pointer;
	-webkit-appearance: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]
{
  -moz-appearance: textfield;
}
.quantity {
	float:left;
 	width: 65px;
	height: 42px;
	position:relative;
}
.quantity input {
	width: 100%;
	height: 42px;
	line-height: 1.65;
	float: left;
	padding: 0;
	margin: 0;
	padding-left:10px;
	border: 1px solid #eee;
	border-radius:4px 0 0 4px;
	margin-bottom:0;
}
.quantity input:focus {
	outline: 0;
}
.quantity-nav {
	position: absolute;
	height: 42px;
	right:0;
	width: 20px;
	border-right: 1px solid #eee;
}
.quantity-button {
 	background: #F7F9FB;
	position: absolute;
	right:0;
	cursor: pointer;
	border-left: 1px solid #eee;
	width: 20px;
	text-align: center;
	color: #333;
	font-size: 13px;
	font-family: "Trebuchet MS", Helvetica, sans-serif !important;
	line-height: 1.7;
	box-sizing:border-box;
	-webkit-user-select: none;
	user-select: none;
}
.quantity-button.quantity-up {
	position: absolute;
	height: 50%;
	top: 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.quantity-button.quantity-down {
	position: absolute;
	bottom: -1px;
	height: 50%;
	border-bottom: 1px solid #eee;
}
.custom-form.no-icons input , .custom-form.no-icons textarea {
	padding-left:10px;
}
.custom-form.no-icons label {
	margin-bottom:20px;
}
.pass-input-wrap span {
    position: absolute;
    right: 20px;
    cursor: pointer;
    bottom: 36px;
    z-index: 10;
	font-size:12px;
}
.radio{
	color:#999;
	font-size:13px;
	position:relative;
	top:-2px;
}
.radio span{
	position:relative;
	padding-left:30px;
	top:1px;
}
.radio span:after{
	content:'';
	width:20px;
	height:20px;
	border:2px solid #ccc;
	position:absolute;
	left:0;
	top:-3px;
	box-sizing:border-box;
}
.radio input[type="radio"]{
	cursor: pointer;
	position:absolute;
	width:100%;
	height:100%;
	z-index: 1;
	opacity: 0;
}
.radio input[type="radio"]:checked + span{
	color:#666;
}
.radio input[type="radio"]:checked + span:before{
	font-family: Font Awesome\ 5 Pro;
	content: "\f00c";
	font-size: 13px;
	position: absolute;
	top:0;
	left: 4px;
	z-index:20;
}
.fuzone {
    position: relative;
    border: 1px   solid #eee;
    border-radius: 3px;
    background: #F7F9FB;
    transition: all 0.3s linear;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
	min-height:160px;
	margin-top:0px;
	float:left;
	cursor:pointer;
}
.fuzone input {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	z-index:100;
	cursor:pointer;
}
.fuzone .fu-text {
    text-align: center;
    margin: 50px 0;
    font-size: 12px;
	color: #999;
	font-weight:400;
    position: relative;
}
.fuzone .fu-text i {
	font-size:44px;
	width:100%;
	padding-bottom:10px;
    transition: all 0.3s linear;
	color:#666;
}
.book-form .quantity-item label {
	width:auto;
	position:relative;
	top:16px;
	padding-right:10px;
    color: #878C9F;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.book-form .quantity-item label i {
	position:relative;
	float:left;
	top:0;
	left:0;
	padding-right:8px;
}
.book-form .quantity  {
	float:right;
}
.book-form .quantity-item {
	margin-bottom:20px;
	float:left;
	width:50%;
}

.book-form  .quantity-item.fcit {
	padding-left:20px;
}
.book-form .btnaplly {
	color:#fff;
	width:100%;
	background:#F8BB11;
	padding:15px 0;
	border-radius:4px;
}
.book-form .btnaplly i {
	padding-left:10px;
}
.total-coast {
	padding:15px 0;
	border-top:1px   solid #eee;
	border-bottom:1px solid #eee;
	margin-bottom:20px;
}
.total-coast strong {
    color: #878C9F;
    font-size: 12px;
    font-weight: 600;
	position: absolute;
	left:0;
	top:21px;
}
.total-coast span {
	float:right;
	text-align:right;
	font-size:19px;
	font-weight:400;
	position:relative;
	top:3px;
}
.custom-form .total-coast  input {
	width: inherit !important;
	float:left;
	border:none;
	background:none;
	height:auto;
	padding:0;
	color: #888DA0;
	font-size:24px;
	text-align:right;
	margin-bottom:0;
	top:-3px;
	position:relative;
	right:10px;
}
.hid-input {
	display:none;
}
.book-form .bookdate-container label i {
	top:42px;
}
.book-form .bookdate-container input {
	padding-left:42px; 
}
.book-form .listsearch-input-item label   , .book-form .bookdate-container label {
	margin-bottom:12px;
}
.bookdate-container-dayscounter {
	position:absolute;
	right:10px;
	bottom:32px;
	z-index:20;
	cursor:help;
}
.bookdate-container-dayscounter  span{
	color:#fff;
	position:absolute;
	right:-10px;
	top:-40px;
	border-radius: 4px;
    background: #ffb701;
	height: 30px;
    line-height: 30px;
    min-width: 100px;
	font-size:11px;
	opacity:0;
	visibility:hidden; 
}
.bookdate-container-dayscounter:hover span {
	opacity:1;
	visibility:visible;
}
.onoffswitch {
    position: relative; width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 21px;
    background-color: #4DB7FE; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 21px;
    background-color: #4DB7FE; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 21px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 49px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.main-register .custom-form input[type="text"] , .main-register .custom-form  input[type=email] ,
.main-register .custom-form  input[type=password]{
	padding-left:20px;
}

.list-single-facts .inline-facts-wrap {
	width:25%;
	float:left;
	padding:20px 0;
	border-left:1px solid #e2e2e2;
	box-sizing:border-box;
	background:#f9f9f9;
}
.list-single-facts .inline-facts-wrap:first-child {
	border:none;
}
.list-single-facts .inline-facts-wrap i {
	font-size:34px;
	width:100%;
	padding-bottom:10px;
}
.list-single-facts .inline-facts-wrap .milestone-counter , .list-single-facts .inline-facts-wrap h6 {
	display:inline-block;
	color:#666;
}
.list-single-facts .inline-facts-wrap h6 {
	padding-left:4px;
	color:#999;
	font-size:12px;
} 
.cart-detai ls {
	background:#f9f9f9;
}
.cart-details_text {
	float:left;
	width:100%;
	border:1px solid #eee;
	border-top:none;
}
.cart-details_header {
	border:1px solid #eee;
	display:inline-table;
	padding:15px 20px;
}
.cart-details_text .geodir-category-content-title-item h3 a {
	color:#666;
}
.cart_list li{
	text-align:left;
	padding:15px 20px;
	color:#666;
	font-size:12px;
	border-bottom:1px solid #eee;
 
}
.cart_list li:last-child {
	border-bottom:0;
}
.cart_list li span , .cart-total strong  {
	float:right;
}
.cart_list li span strong{
	padding-left:6px;
    color: #5ECFB1;
}
.cart-total {
	padding:15px 20px;
    background: #F7F9FB;
	float:left;
	width:100%;
	border:1px solid #eee;
	border-radius:6px;
}
.cart-details {
	margin-bottom:15px;
}
.cart-total span {
	float:left;
    color: #878C9F;
    font-size: 16px;
    font-weight: 600;
	position:relative;
	top:2px;
}
.cart-total strong {
	font-size: 20px;
	font-weight: 400;
}
#progressbar {
	margin-bottom: 30px;
	counter-reset: step;
	width:100%;
	float:left;
	box-sizing:border-box;
}
#progressbar li {
	list-style-type: none;
	color:#666;
	font-size:12px;
	width: 25%;
	float: left;
	text-align:left;
	position: relative;
	padding:0 0 25px;
}
#progressbar li span {
	padding-right:10px;
}
#progressbar li:after {
	content: '';
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	height:4px;
	border-radius:4px;
	background:#eee;
	z-index:1;
}
#progressbar li:before {
	content: '';
	position:absolute;
	bottom:0;
	width:0;
	left:0;
	height:4px;
	z-index:2;
	border-radius:4px;
	 transition: all 200ms linear;
}
#progressbar li.active:before {
	width:99%;
}
.bookiing-form-wrap .custom-form form fieldset:not(:first-of-type) {
	display: none;
}
.next-form {
	float:right;
}
.previous-form {
	float:left;
	padding: 0 30px 0 80px;
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.previous-form i {
    position: absolute;
    left: 0;
    width: 50px;
    height: 44px;
    line-height: 44px;
    border-right: 1px solid rgba(255,255,255,0.21);
    text-align: center;
    top: 0;
}
.previous-form:hover:after {
	width:100%;
}
.previous-form:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.2);
    z-index: 0;
    left: 0;
    top: 0;
    transition: all 200ms linear;
}
.success-table-header {
	text-align:left;
	color:#666;
	font-size:16px;
	font-weight:400;
	padding:10px 0 0 70px;
}
.success-table-header i.decsth {
	color:#5ECFB1;
	position:absolute;
	font-size:54px;
	left:0;
	top:0;
}
.success-table-header h4 , .success-table-header p {
	float:left;
}
.success-table-header a {
	font-size:12px;
	color:#fff;
	padding:12px 25px;
	float:right;
	border-radius:30px;
	position:relative;
	top:-14px;
}
.success-table-header a i {
	padding-right:8px;
	font-size:15px;
}
.log-massage {
	padding:10px 0;
	text-align:left;
	font-size:12px;
	color:#666;
}

.box-widget-content  .widget-posts-descr a  , .cart-details_header .widget-posts-descr a{
	color:#666;
}
.box-widget-content  .widget-posts-descr  .geodir-category-location , .cart-details_header .widget-posts-descr .geodir-category-location{
	margin-top:12px;
}
.box-widget-content  .widget-posts-descr  .geodir-category-location a , .cart-details_header .widget-posts-descr .geodir-category-location a{
	font-size:10px;
	color: #878C9F;
}
.box-widget-content  .widget-posts-descr .rooms-price {
	font-size:12px;
	text-transform:uppercase;
	top:0px;
}
.box-widget-content  .widget-posts-descr .rooms-price strong {
	font-size:9px;
}
.box-widget-content  .widget-posts-descr .listing-rating , .cart-details_header   .widget-posts-descr .listing-rating{
	margin-top:6px;
}
.box-widget-content  .widget-posts-descr .listing-rating i , .cart-details_header   .widget-posts-descr .listing-rating i{
	font-size:10px;
	margin-right:2px;
}
.box-widget-content .widget-posts-link {
	float:left;
	position:relative;
	cursor:pointer;
	font-weight: 600;
    font-size: 12px;
	margin-top:20px;
	color: #878C9F;
}
.widget-posts-link:hover {
	color:#666;
}
.box-widget-content .widget-posts-link:before {
	display:none;
 
}
.box-widget-content .widget-posts-link i {
	padding-left:10px;
	font-size:14px;
	position:relative;
	top:2px;
}